.desktop-2-all-breakpoints {
  align-items: flex-start;
  background-color: var(--gray-suit);
  border: 3px none;
  display: flex;
  flex-direction: column;
  height: 1024px;
  overflow: hidden;
  width: 1600px;
}

.flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: -10px;
  margin-top: -14px;
  min-height: 537px;
  width: 1632px;
}

.overlap-group-2 {
  align-items: center;
  background-color: var(--alto);
  display: flex;
  flex-direction: column;
  min-height: 124px;
  padding: 0.2px 10px;
  width: 1632px;
}

.flex-row-3 {
  align-items: flex-start;
  display: flex;
  margin-left: 13.0px;
  margin-top: 46px;
  min-width: 1549px;
  position: relative;
}

.rsp-logo-1-2 {
  height: 51px;
  object-fit: cover;
  width: 253px;
}

.line-1-2 {
  height: 2px;
  margin-right: 12.0px;
  margin-top: 25px;
  object-fit: cover;
  width: 1600px;
}

.sfondo_schermata_passerelle-container-2 {
  align-items: flex-start;
  display: flex;
  margin-left: 38px;
  margin-top: 47px;
  min-width: 1128px;
}

.sfondo_schermata_passerelle-1-2 {
  display: block;
  height: 337px;
  object-fit: cover;
  opacity: 0;
  transform: scale(1.1);
  width: 210px;
}

.sfondo_schermata_passerelle-1-2.animate-enter5 {
  animation: animate-enter5-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(1.1);
}

.sfondo_schermata_passerelle-2-2 {
  display: block;
  height: 337px;
  margin-left: 241px;
  object-fit: cover;
  opacity: 0;
  transform: scale(1.1);
  width: 210px;
}

.sfondo_schermata_passerelle-2-2.animate-enter6 {
  animation: animate-enter6-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(1.1);
}

.sfondo_schermata_passerelle-3-1 {
  display: block;
  height: 337px;
  margin-left: 257px;
  object-fit: cover;
  opacity: 0;
  transform: scale(1.1);
  width: 210px;
}

.sfondo_schermata_passerelle-3-1.animate-enter7 {
  animation: animate-enter7-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(1.1);
}

.passerella-1 {
  letter-spacing: 0;
  margin-left: 74px;
  min-height: 29px;
}

.flex-row-4 {
  align-items: flex-start;
  display: flex;
  height: 368px;
  margin-left: 38px;
  margin-top: 45px;
  min-width: 1118px;
}

.plancett-container-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 368px;
  width: 210px;
}

.sfondo_schermata_plancette-1-2 {
  cursor: pointer;
  height: 337px;
  object-fit: cover;
  transition: all 0.2s ease;
  width: 210px;
}

.sfondo_schermata_plancette-1-2:hover,
.sfondo_schermata_plancette-3-1:hover,
.sfondo_schermata_plancette-2-2:hover {
  transform: scale(1.1);
}

.plancetta-2 {
  letter-spacing: 0;
  margin-right: 41.0px;
  margin-top: 2px;
  min-height: 29px;
  min-width: 107px;
}

.sfondo_schermata_plancette-3-1 {
  cursor: pointer;
  height: 337px;
  margin-left: 231px;
  object-fit: cover;
  transition: all 0.2s ease;
  width: 210px;
}

.sfondo_schermata_plancette-2-2 {
  cursor: pointer;
  height: 337px;
  margin-left: 257px;
  object-fit: cover;
  transition: all 0.2s ease;
  width: 210px;
}

@keyframes animate-enter6-frames {
  from{opacity: 0;
transform: scale(1.1);
}
to{opacity: 1;
transform: scale(1);
}
}

@keyframes animate-enter5-frames {
  from{opacity: 0;
transform: scale(1.1);
}
to{opacity: 1;
transform: scale(1);
}
}

@keyframes animate-enter7-frames {
  from{opacity: 0;
transform: scale(1.1);
}
to{opacity: 1;
transform: scale(1);
}
}

