:root { 
  --alto: #d9d9d9;
  --black: #000000;
  --gray-suit: #c1c4d0;
 
  --font-size-l: 36px;
  --font-size-m: 24px;
 
  --font-family-inter: "Inter", Helvetica;
}
.inter-normal-black-24px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-black-36px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}
